:root{
    /* layout */
    --navbar-height: 64px;
    --navbar-item-spacing: 16px;
    --middle-spacing: 24px;
    --hight-spacing: 32px;

    /* typography */
    --base-font-size: 1.3rem;
    --logo-font-size: 1.5rem;

    /* color and background */
    --white-color-background: #ffffff;
    --gray-color: #d8d8d8;
    --main-font-color: #4a4a4a;

    /* image */
    --image-card-1: url(../images/information-orientation.jpg);
    --image-card-2: url(../images/information-campus.jpg);
    --image-card-3: url(../images/information-guest-lecture.jpg);
}

/* Layout */
/* Sizing */
/* Margin and spacing */
/* Typography */
/* color and background */
/* Decoration */
/* Transition and animation */
/* Miscellaneous */

html{
    color: var(--main-font-color, black);
    font-family: 'Lexend', Helvetica, sans-serif;
}

/* FONT */
h1{
    /* tipography */
    font-size: clamp(2rem, calc(3vh + 16px), 48px);
    font-weight: 700;
    line-height: 1.2;

    margin: var(--hight-spacing, 32px) 0;
}

h2{
    /* tipography */
    font-size: clamp(1.5rem, calc(1vh + 16px), 32px);
    font-weight: 500;
    line-height: 1.2;

    /* margin and spacing */
    margin: var(--hight-spacing, 32px) 0;
}

p{
    font-size: calc(16px + 0.5vh);
    font-weight: 300;
    color: var(--main-font-color);
    line-height: 1.5;
}

cite{
    display: inline-block;
    font-size: 20px;
    margin-top: 45px;

}

/* GENERAL CLASS */
.box-padding{
    /* margin and spacing */
    padding: var(--hight-spacing, 32px) var(--middle-spacing, 24px);
}

.img-banner{ 
    /* sizing */
    width: 60%;
}

.mobil-menu{
    display: none;
}

button{
    /* sizing */
    width: 80%;

    /* decoration */
    border-radius: 2px;
    border: 3px solid transparent;

    /* margin and spacing */
    padding: 8px 0px;

    /* tipography */
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: clamp(1.3rem, calc(0.5vh + 16px), 26px);

    /* color and background */
    color: white;
    background-color: var(--main-font-color);

    /* transition and animation */
    transition: all 0.4s;
}

button:hover{
    /* decoration */
    border: 3px solid var(--main-font-color);

    /* color and background */
    background-color: transparent;
    color: var(--main-font-color);
}

/* LOGO */
.logo{
    /* layout */
    display: flex;
    align-items: center;

    /* style */
    font-size: var(--logo-font-size);
    text-transform: uppercase;
}

.logo-text .logo-bold{
    /* typography */
    font-weight: 700;
}

.logo-text .logo-grey{
    /* color and backgroud */
    color: grey;
}

/* NAVBAR */
.navbar{
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* style */
    background-color: var(--white-color-background);

    /* sizing */
    padding: 0 var(--middle-spacing);

    /* margin and spacing */
    height: var(--navbar-height);
    
    /* Miscellaneous */
    z-index: 1;
}

.navbar ul{
    /* layout */
    display: flex;

    /* typography */
    font-size: var(--base-font-size);
}

.navbar li{
    /* margin and spacing */
    margin-left: var(--navbar-item-spacing);
}

/* SECTION 1 Desktop et tablette*/

.learn_block{
    /* layout */
    display: flex;
    justify-content: left;
    align-items: center;

    /* style */
    background-color: var(--gray-color);

    margin-top: 64px;
}

.content-text{
    margin: var(--middle-spacing, 24px);
}

/* BLOC2 */

.bloc2{
    /* layout */
    display: grid;
    grid-template: 1fr / 60% 40%;
}

.practicing-block{
    /* margin and spacing */
    margin: 32px 0 32px 24px;
}

.practicing-block img{
    /* sizing */
    width: 100%;
}

.container-card{
    border-left: 1px solid var(--gray-color);
    /* margin and spacing */
    margin: 16px 0 0 24px;
}

.card{
    display: flex;
    padding: 16px;
    align-items: center;
    transition: background-color 0.4s;
}

.card:hover{
    background-color: var(--gray-color);
}

.image-variante-1{
    background: var(--image-card-1) no-repeat center / cover;
}

.image-variante-2{
    background: var(--image-card-2) no-repeat center / cover;
}

.image-variante-3{
    background: var(--image-card-3) no-repeat center / cover;
}

.picture-card{
    aspect-ratio: 1/1;
    width: 35%;
    height: auto;
}

#text-card{
    margin-left: 16px;
    width: 65%;
}

#text-card h2,
#text-card p, 
#text-card a{
    margin: 8px;
}

@media only screen and (max-width: 800px){

    .logo-text, .desktop-menu{
        /* layout */
        display: none;
    }

    .mobil-menu, .logo img{
        /* layout */
        display: block;

        /* sizing */
        height: 40px;
    }

    .learn_block{
        /* layout */
        display: block;
    }
    
    .img-banner{
        /* sizing */
        width: 100%;
    }

    .box-padding{
        /* margin and spacing */
        padding: 0 0 var(--hight-spacing, 32px) 0;
    }

    h2{
        /* margin and spacing */
        margin: var(--middle-spacing, 24px) 0;
    }

    button{
        /* sizing */
        width: 100%;

        /* style */
        background-color: #9b9b9b;
    }    
}